.animeblock {
  margin-left: 50px;
  margin-top: 43.5px;
  position: relative;
}
.login {
  position: absolute;
  right: 30px;
  top: -55px;
  width: 25px;
  height: 15px;
  background-color: aqua;
  border-color: aqua;
}
.anime__title {
  position: absolute;
  top: -43.5px;
  color: #313131;
  font-size: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.anime__content {
  display: flex;
}
.anime__img {
    min-width: 50%;
}
.anime__img img {
  width: 100%;
}
.text__content {
    margin: 5px 0px 0px 15px;
}
.anime__name {
}
.anime__info p{
    margin-bottom: 5px;
}
.descripton span{
    font-weight: 600;
}
